/*卡片尺寸*/
.layout{
  max-width:1500px;
  /*解决页面横向滚动*/
  overflow-x: hidden;
  
}

.aside-content{
    max-width:340px;
    min-width:270px;
}
.recent-posts{
  width: auto !important;
}
div#post{
    width: 1100px;
    border-radius: 20px;
}
/* @media screen and (max-width: 830px){
  .card-widget.card-info.is-center.avatar-img{
       display: none;
    }
} */
/*文章内图片*/
#article-container img {
  border-radius: 20px;
}

/*首页文章卡片圆角*/
#recent-posts > .recent-post-item:not(:first-child) {
  border-radius: 22px;
  background: transparent;
  backdrop-filter: blur(50px);
}
/*首页卡片适配*/
#recent-posts>.recent-post-item>.recent-post-info>.article-title {
  font-size: 1.6 !important;
  font-weight:bold !important;
  color: white !important;
}
#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap > .post-meta-date {
  color: #fefefe !important;
}
#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap a {
  color: #fffafa !important;
}
#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap i {
  margin: 0 4px 0 0;
  color: white !important;
}
#recent-posts>.recent-post-item .post_cover {
  width: 100%;
  height: 300px !important;
}

/*背景透明 也可以指定页面背景透明或者其他颜色*/
/* #web_bg ~ .page:has(#tag) {
  background: #f7f9fe;
} */
/* #web_bg ~ .page:has(#album-page) {
} */

/**/
.page #page:not(.home #page),.page #archive{
  border-radius: 20px;
  border: none!important;
  box-shadow: none!important;
  padding-top: 0;
  background: transparent!important;
  backdrop-filter: blur(10px);
}
#archive,#category,#tag{
  width:100%;
  background: transparent !important;
}


/*部分页面不展示侧边栏且全屏*/
.page:not(.page.home) .aside-content{
  display: none;
}
.page:not(.page.home) .aside-content{
  width: 1400px;
}

/*显示更多的友链图标*/
.flink-list-item{
  width:calc(100% / 4 - 15px)!important;
}
@media screen and (max-width: 1250px) {
  .flink-list-item{
      width:calc(100% / 3 - 15px)!important;
  }
}
/*评论背景*/
#twikoo .tk-content {
  background: rgba(108, 215, 165, 0.6);
  padding: 10px 15px;
  border-radius: 7px;
}

/*光标框选文字颜色*/
/* webkit, opera, IE9 */
::selection {
  background: #df3030;
  color: #f7f7f7;
}
/* mozilla firefox */
::-moz-selection {
  background: #df3030;
  color: #f7f7f7;
}
[data-theme="dark"] ::-moz-selection {
  background: #f0f0f0;
  color: #000;
}
[data-theme="dark"] ::selection {
  background: #f0f0f0;
  color: #000;
}

/*通告栏渐变色*/
/* 公告&欢迎页 */
.card-announcement {
  
  background: linear-gradient(to top left, #912fb2 0%, #030094 100%) !important;
  color:white ;
  line-height:30px;
  font-size:16px;
}

.card-announcement .item-headline span{
  margin-left:0!important;
}

.card-announcement span{
  font-weight:bold;
  font-size:20px!important;
  color:#F7F81A;
}

#aside-content > .card-widget.card-announcement{
  background: linear-gradient(-45deg,#5ca1ff,#031764,#150136,#67044d);
  background-size: 200%;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, .05);
  animation: gradient 15s ease infinite;
  position: relative;
  color: white;
  border-radius: 22px;
}

#aside-content > .card-widget.card-info{
  background: transparent;
  width: 260px;
  height: 500px;
}

/*侧边栏个人卡片渐变色  0 0 1px black*/
 /* #aside-content > .card-widget.card-info{
  background: linear-gradient(-45deg,#5ca1ff,#031764,#150136,#67044d);
  background-size: 400%;
  box-shadow: var(--heo-shadow-black);
  animation: gradient 15s ease infinite;
  position: relative;
  color: white;
}
.site-data > a .headline,.site-data > a .length-num{
  color: white;
  display:none;
}  */



/*每篇文章下面的推荐页*/
#pagination.pagination-post {
  border-radius: 20px;/*圆角修改*/
}
/* 推荐文章 */
.relatedPosts>.relatedPosts-list .content {
  position: relative;
}

.relatedPosts>.relatedPosts-list>div {
  border-radius: 12px;
}


/*归档页*/
.article-sort-item {
  width: 100%;
  padding: .5rem;
  margin: .3rem 0;
  background: #d5e2f1;
  border-radius: 8px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.article-sort-item {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 0 20px 10px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 20px;
}


/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
  border-radius: 22px;
}
/*1*/
#pagination .page-number.current {
  border-radius: 20px;
  background: #00c4b6;
  color: var(--white);
}
/*2*//*下一页*/
.cardHover, .error404 #error-wrap .error-content, .layout > div:first-child:not(.recent-posts), #recent-posts > .recent-post-item, #aside-content .card-widget, .layout > .recent-posts .pagination > *:not(.space) {
    border-radius: 20px;
}



.article-sort-title{
  margin-top:30px;
  margin-bottom:20px;
}

.article-sort-item::before, .article-sort-title::before, .article-sort-title::after {
  content: none;
}

.article-sort .year{
  width:100%!important;
  border-bottom:dashed 5px var(--ichika-color);
  font-size:26px;
  margin-top:20px;
}

.article-sort{
  border:none;
  display:flex;
  flex-wrap:wrap;
  margin:20px 20px;
  padding:0;
}

.article-sort-item:not(.year){
  padding:8px 1px;
  width:calc(50% - 0.8rem);
  margin:0.4rem;
  border:2px solid var(--ichika-color);
  border-radius:20px;
  background:var(--card-bg);
  transition:0.5s;
  height:120px;
}

.article-sort-item-a{
  position:absolute;
  width:100%;
  height:100%;
}

.article-sort-item-img{
  transition:0.5s;
  height:120px;
  width:140px;
}

.article-sort-item > a >img{
  border-radius:20px;
}

.article-sort-item-title {
  font-size: 19px;
  padding-left: 10px;
  margin: 10px 0;
  line-height:25px;
  text-overflow:ellipsis;
}

.article-sort-item-title:hover{
  transform:none;
}

.article-sort-meta{
  height:max-content;
  position:relative;
}

.article-sort-meta > .article-meta-wrap{
  float:left;
}

.article-sort-meta > .article-sort-item-time{
  float:right;
}

.article-sort-item-categories,.article-sort-item-tags{
  margin:0 3px;
  padding:5px 8px;
  border-radius:25px;
  border:1px solid var(--dark-grey);
  font-size:12px;
  transition:0.5s;
}

.article-sort-item-info > div:not(.article-sort-meta){
  display:flex;
}

.article-sort-description,.article-sort-item > i{
  width:0;
  opacity:0;
  overflow:hidden;
  transition:0.5s;
}

.article-sort-description {
  width: 0;
  height: 59px;
  vertical-align: middle;
  margin: 5px 10px 0 15px;
  text-overflow:ellipsis;
}

.article-sort-item:hover:not(.year){
  background-color:var(--ichika-color);
  box-shadow: 0 0 10px var(--ichika-color);
}

.article-sort-item:hover:not(.year){
  background-color:var(--ichika-color);
  box-shadow: 0 0 10px var(--ichika-color);
}

.article-sort-item:hover:not(.year) .article-sort-description,.article-sort-item:hover:not(.year) > i{
  width:auto;
  opacity:1;
}

.article-sort-item:hover:not(.year) .article-sort-description{
  width:auto;
}

.article-sort-item:hover:not(.year) .article-sort-item-img{
  transition:0.5s;
  width:0;
}

.article-sort-item:hover:not(.year) .article-sort-item-title{
  color:var(--ichika-font-white)!important;
}

.article-sort-item:hover:not(.year) .article-meta-wrap a,.article-sort-item:hover:not(.year) .article-sort-description,.article-sort-item:hover:not(.year) .article-sort-item-time{
  color:var(--ichika-light-grey)!important;
}

.article-sort-item:hover:not(.year) .article-sort-item-categories{
  border:1.5px solid var(--ichika-green);
}

.article-sort-item:hover:not(.year) .article-sort-item-tags{
  border:1.5px solid var(--ichika-purple);
}

.article-sort-item:hover:not(.year) .article-sort-item-categories:hover{
  background:var(--ichika-green);
  box-shadow:0 0 5px var(--ichika-green);
}

.article-sort-item:hover:not(.year) .article-sort-item-tags:hover{
  background:var(--ichika-purple);
  box-shadow:0 0 5px var(--ichika-purple);
}

@media screen and (max-width:768px) {
  .article-sort-item:not(.year) {
      width: 100%;
  }

  .article-sort-meta > .article-meta-wrap {
      display: none;
  }

  .article-sort-item-title {
      font-size: 16px;
  }

  .article-sort-item-img{
      width:90px;
  }
}

div#page-site-info {
  display: none;
}

.page #page:not(.home #page),.page #tag,.page #category {
 
  width: 1400px;
  margin-left: 10px;
  border-radius: 28px;
}
.tag-cloud-list.is-center {
  padding: 50px;
}


/* 鼠标图标 
body {
  cursor: url("/img/x1.cur"), auto;
}
a,
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: url("/img/x2.cur"), auto !important;
}*/

/* .transparentpage{
    background:transparent!important;
}
#web_bg ~ .page:has(#tag) {
  background: #f7f9fe;
} */





/*页脚*/
div#footer_deal {
  justify-content: center;
  display: flex;
  padding-top: 2rem;
  align-items: center
}

@media screen and (max-width: 768px) {
  img.footer_mini_logo {
      display: none
  }

  div#footer_deal {
      flex-wrap: wrap;
      flex-direction: row
  }
}


a.deal_link {
  display: flex;
  margin: 1rem 27px;
  color: #fff;
  border-radius: 3rem;
  width: 32px;
  height: 32px;
  background: #4c4948;
  justify-content: center;
  align-items: center;
  transition: .3s
}

a.deal_link:hover {
  color: #4c4948;
  background: #425AEF
}

img.footer_mini_logo {
  width: 50px;
  height: 50px;
  margin: 0 1rem;
  cursor: pointer;
  /*filter: drop-shadow(0 12px 12px #ee7d7936);*/
  transition: cubic-bezier(0, 0, 0, 1.29) .5s
}

img.footer_mini_logo:hover {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d
}

@media screen and (min-width: 1300px) {
  img.footer_mini_logo:hover {
      transform: scale(1.03)
  }

  img.footer_mini_logo:active {
      transform: scale(.97)
  }
}

#rightside {
  top: 380px;
  position: fixed;
  right: -48px;
  bottom: 40px;
  z-index: 100;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.fa-image ,.fa-adjust{
  width: 1.28571429em;
  text-align: center;
  color: white;
}

/* 搜索背景模糊 */
#search-mask {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.6);
}



/* 文章目录 */
#aside-content #card-toc .toc-content .toc-link.active {
  line-height: 1.2;
  border-radius: 12px;
  border-left-color: #fc823b;
  background-color: #fff;
  color: #fc823b;
  font-weight: bold;
  font-size: 20px;
}

[data-theme=dark].toc .toc-item.active .toc-link .toc-text {
  color: #fff;
}

#aside-content #card-toc .toc-content .toc-item.active .toc-link {
  opacity: 1;
  border-radius: 8px;
}

#aside-content #card-toc .toc-content .toc-link {
  line-height: 1.2;
  padding: 8px;
  border-left: 0px solid transparent;
  border-radius: 12px;
  color: rgba(60, 60, 67, 0.6);
  cursor: default;
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span {
  opacity: 0.6;
  cursor: pointer;
  filter: blur(1px);
  transition: 0.3s;
}

#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
  filter: blur(0px);
  opacity: 1;
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
  color: #fc823b;
}


/* 文章页侧边栏固定位置 */
@media screen and (max-width: 1300px) {
  #aside-content .sticky_layout {
    top: 60px;
  }
}

@media screen and (min-width: 768px) {
  #aside-content .sticky_layout {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1300px) {
  #aside-content .sticky_layout {
    margin-top: 1rem;
  }
}

#aside-content .sticky_layout {
  top: 80px;
  transition: top 0s;
}

#aside-content .sticky_layout .card-widget:first-child {
  margin-top: 0;
  border-radius: 20px;
}

#aside-content .card-widget:hover {
  box-shadow: 0 8px 16px -4px #2c2d300c;
}

#aside-content #card-funds {
  margin-bottom: 1rem;
  min-height: 260px;
}

#page-header.nav-visible+.layout>.aside-content>.sticky_layout {
  top: 80px;
}

#aside-content {
  width: 300px;
}

@media screen and (max-width: 1300px) {
  #aside-content {
    width: 300px;
  }
}

@media screen and (max-width: 900px) {
  #aside-content {
    display: none;
  }
}

/* 最新文章侧边栏 */
.card-widget.card-recent-post {
  padding: 0.4rem 0.6rem !important;
}

/* 最新文章侧边栏时间显示 */
#aside-content .aside-list>.aside-list-item .content>time {
  display: none;
}

/* 最新文章侧边栏标题 */
#aside-content .aside-list>.aside-list-item .content>.title {
  -webkit-line-clamp: 3;
  font-weight: bold;
  padding: 2px 0;
}

/* 最新文章侧边栏悬浮 */
#aside-content .aside-list>.aside-list-item {
  padding: 8px;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  border-radius: 12px;
  transition: 0.3s;
  margin: 4px 0;
  cursor: pointer;
}

@media screen and (min-width: 1300px) {
  #aside-content .aside-list>.aside-list-item:hover {
    transform: scale(1.03);
  }

  #aside-content .aside-list>.aside-list-item:active {
    transform: scale(0.97);
  }
}

#aside-content .aside-list>.aside-list-item:hover .thumbnail>img {
  transform: scale(1);
}

#aside-content .aside-list>.aside-list-item:not(:last-child) {
  border-bottom: 0px dashed #f7f9fe !important;
}

#aside-content .aside-list>.aside-list-item .thumbnail {
  -webkit-mask-image: -webkit-radial-gradient(center, rgb(255, 255, 255), rgb(0, 0, 0));
  border-radius: 8px;
  border: #4259ef23;
}

#aside-content .aside-list>.aside-list-item:hover {
  background: #fc823b;
  color: #fff;
  transition: 0.3s;
  box-shadow: 0 8px 12px -3px #4259ef23;
}

#aside-content .aside-list>.aside-list-item:hover a {
  color: #fff !important;
}

/* 侧边栏分类 */

#aside-content .card-categories ul.card-category-list>.card-category-list-item a {
  border-radius: 8px;
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border: 2px solid #e3e8f7;
}

#aside-content .card-categories ul.card-category-list>.card-category-list-item a span:first-child {
  width: auto;
}

#aside-content .card-categories ul.card-category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-allinfo hr {
  display: flex;
  position: relative;
  margin: 1rem 0;
  border: 1px dashed #4259ef23;
}

.card-allinfo .item-headline {
  display: none;
}

#aside-content .card-categories ul.card-category-list>.card-category-list-item a span:last-child {
  width: fit-content;
  margin-left: 4px;
}


.card-category-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-category-list-item {
  width: 45%;
}

.card-category-list-count {
  display: none !important;
}

.card-category-list-name {
  width: 100% !important;
  text-align: center;
}

/* 侧边栏归档样式 */
span.card-archive-list-count {
  width: auto;
  text-align: left;

  /*篇数*/
  font-size: 1.5rem;
  line-height: 0.9;
  font-weight: 700;
}
.card-archive-list-count-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:last-child{
  width: fit-content;
  margin-left: 4px;
}
span.card-archive-list-count {
  width: auto;
  text-align: left;
  font-size: 1.1rem;
  line-height: 0.9;
  font-weight: 700;
}
.card-archive-list-date {
  font-size: 14px;
  opacity: 0.6;
}
li.card-archive-list-item {
  width: 100%;
  flex: 0 0 48%;

  
}
#aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover,
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover {
  color: white;
  background-color: #fc823b;
  box-shadow: 0 8px 12px -3px #4259ef23;
  border-radius: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media screen and (min-width: 1300px) {
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover,
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover{
    transform: scale(1.03);
  }
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:active,
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:active {
    transform: scale(0.97);
  }
}
#aside-content .card-categories ul.card-category-list > .card-category-list-item a,
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a {
  border-radius: 8px;
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border: 1px solid #e3e8f7;
}
#aside-content .card-categories ul.card-category-list > .card-category-list-item a span:first-child,
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:first-child {
  width: auto;
  flex: inherit;
}
#aside-content .card-categories ul.card-category-list,
#aside-content .card-archives ul.card-archive-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* 侧边栏统计 */
.webinfo-item {
  background: #0084FF;
  display: flex;
  white-space: nowrap;
}

.webinfo-item-title {
  display: flex;
}

.webinfo-item-title i {
  line-height: 2;
  margin-right: 6px;
  width: 16px;
  text-align: center;
}




/* madium-zoom */
.medium-zoom-overlay {
  background: rgba(255, 255, 255, 0.6) !important;
  z-index: 99998 !important;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.medium-zoom-image--opened {
  border-radius: 2px;
}

/* 通用 */
#toggle-sidebar {
  bottom: 80px;
}

/* 按钮样式 */
.button--animated {
  border-radius: 8px !important;
  transition: 0.3s;
}

#error-wrap .error-content .error-info a:hover {
  background-color: #fc823b;;
  transition: 0.3s;
  transform: scale(1.03);
  box-shadow: 0 8px 12px -3px rgba(40, 109, 234, .20);
}

.button--animated:before {
  display: none;
}

/* hexo-widget-tree 侧边文章导航 */
a.tree-list-post-link {
  font-size: 0.8rem;
  line-height: 1.2 !important;
}

li.tree-list-item {
  line-height: 1.9;
  margin: 0.3rem 0;
}

/* 消息弹窗 */
.snackbar-container {
  background: #fc823b !important;
  color: #fff !important;
  border-radius: 0 !important;
  display: flex;
  justify-content: center !important;
  max-width: none !important;
  min-width: 100% !important;
  margin: 0px !important;
  left: 0px !important;
  height: 60px !important;
  transform: none !important;
}

.snackbar-container p {
  font-weight: bold !important;
  text-align: center !important;
  font-size: 0.8rem !important;
  display: flex !important;
  justify-content: center !important;
}

.snackbar-container .action {
  color: #fff !important;
  padding: 4px 6px !important;
  font-weight: bold;
  border-radius: 8px !important;
  transition: 0.3s;
  border:  1px solid #e3e8f7 !important;
}

.snackbar-container .action:hover {
  color: #fc823b !important;
  background: #fff !important;
}

.snackbar-container::after {
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  opacity: 0.1;
  content: "";
  animation: snackbar-progress 5s linear forwards;
  pointer-events: none;
}

@keyframes snackbar-progress {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/*分类页*/
#page .category-lists {
  padding: 1rem 0px 1.5rem;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  #page .category-lists {
    padding: 0px;
  }
}

#page .category-lists .category-title {
  font-size: 2.57em;
}

@media screen and (max-width: 768px) {
  #page .category-lists .category-title {
    font-size: 2em;
  }
}

#page .category-lists .category-list a {
  color: #363636;
}

#page .category-lists .category-list a:hover {
  color: rgb(48, 122, 246);
}

#page .category-lists .category-list .category-list-count {
  margin-left: 0.4rem;
  color: rgb(133, 133, 133);
}

#page .category-lists .category-list .category-list-count::before {
  content: "(";
}

#page .category-lists .category-list .category-list-count::after {
  content: ")";
}

#page .category-lists ul {
  margin-top: 0.4rem;
  padding: 0px 0px 0px 1rem;
  list-style: none;
  counter-reset: li 0;
}

#page .category-lists ul ul {
  padding-left: 0.2rem;
}

#page .category-lists ul li {
  position: relative;
  margin: 0.3rem 0px;
  padding: 0.12em 0.4em 0.12em 1.4em;
}

#page .category-lists ul li::before {
  position: absolute;
  left: 0px;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
  top: 0.7em;
  width: 0.43em;
  height: 0.43em;
  border: 0.215em solid rgb(48, 122, 246);
  border-radius: 0.43em;
  background: 0px 0px;
  content: "";
}

#page .category-lists ul li:hover::before {
  border-color: rgb(255, 114, 66);
}

/* 分类页22222 */


/*顶图*/
#page-header.not-home-page {
  height: 400px;
  
}

/* 标签列表页 */
#post .tag_share .post-meta__tag-list {
  display: flex;
}

@media screen and (max-width: 768px) {
  #post .tag_share .post-meta__tag-list {
    display: flex;
    overflow: scroll;
    position: absolute;
    left: 0;
    padding: 0 20px 0 20px;
    width: 100%;
  }
}

#page .tag-cloud-list a {
  color: #363636 !important;
  font-size: 1.4em !important;
  padding: 0.2em .5em;
  background: #f1f3f8;
  margin: .5em .5em;
  border-radius: 12px;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  border: 2px solid #e3e8f7;
  box-shadow: 0 8px 16px -4px #2c2d300c;
}

#page .tag-cloud-list a:hover {
  background: #fc823b !important;
  box-shadow: 0 8px 12px -3px rgba(40, 109, 234, .20);
  color: #fff !important;
  border: 2px solid #fc823b;
}

span.tagsPageCount {
  background: #fff;
  padding: 4px 4px;
  border-radius: 8px;
  color: rgba(60, 60, 67, 0.6);
  line-height: 1;
  text-align: center;
  min-width: 35px;
  display: inline-block;
  font-size: 1rem;
}

#page .tag-cloud-list a:hover span.tagsPageCount {
  color: #ffffff;
}

#tag-page-tags .tagsPageCount,
#post .tag_share .post-meta__tags span.tagsPageCount {
  padding: 2px 4px;
  background: #f1f3f8;
  border: 1px solid #e3e8f7;
  min-width: 22.5px;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: 0.6rem;
  color: #363636;
  margin-left: 4px;
}

#tag #tag-page-tags a:hover .tagsPageCount,
#post .tag_share .post-meta__tags:hover span.tagsPageCount {
  background: #fff;
  color: #0084FF;
}

#tag #tag-page-tags a.select .tagsPageCount {
  background: #fff;
  color: #fc823b;
}

span.tags-punctuation {
  opacity: 0.4;
}
#aside-content .card-tag-cloud a:hover {
  color: #ffffff !important;
}
/* page标题 */
#article-container h1 {
  padding-left: 0rem;
}

#article-container h1:before {
  display: none;
}

#article-container h1:hover {
  padding-left: 0rem;
}
/*分类，标签，网站统计卡片圆角*/
#aside-content .card-widget {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  padding: 20px 24px;
  border-radius: 20px;
}

#article-container code {
  color: #fff;
  padding: .2rem .4rem;
  border-radius: 4px;
  margin: 0 4px;
  background: #ff7c7c;
  line-height: 2;
  box-shadow: 0 8px 16px -4px #2c2d300c;
}

#post-comment {
  /* margin-left: 20px; */
  transform: scaleX(0.97);
}

/*文章标签与详情*/
#post-info .post-title {
  font-size: 3em;
}
#post-info #post-meta {
  font-size: 110%;
}

/*其他自定义page导航栏显示文字白色*/
#page-header.not-top-img #nav a {
  color: #fff9f7;
  text-shadow: none;
}



/* 版权信息 */
/* 背景 */
#post .post-copyright {
  background: #fff;
  padding: 2rem 1.3rem;
  overflow: hidden;
  border: 1px solid #e3e8f7;
  border-width: 1px;
  transition: 0.3s;
  border-radius: 11px;
}

#post .post-copyright:after {
  position: absolute;
  right: 22px;
  top: -77px;
  content: '\f25e';
  font-size: 180px;
  font-family: 'Font Awesome 5 Brands';
  color: #363636;
  opacity: 0.4;
  filter: blur(7px);
}

@media screen and (max-width: 768px) {
  #post .post-copyright {
    padding: 1rem 1.3rem;
  }
}

.post-copyright__author {
  display: flex;
  align-items: center;
}

.post-copyright__original {
  background: #363636;
  color: #fff;
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 8px;
  margin-right: 0.5rem;
  font-weight: bold;
  line-height: 1.5;
  white-space: nowrap;
}

.post-copyright__original:hover {
  background: #fc823b;
  color: white;
}

@media screen and (max-width: 768px) {
  #post .post-copyright {
    box-shadow: 0 8px 16px -4px #2c2d300c;
  }

  .post-copyright .post-meta-original {
    display: none;
  }

  .post-copyright__original {
    display: none;
  }

  #post .post-copyright:after {
    display: none;
  }
}


/* 作者名 */
#post .post-copyright .post-copyright-info a {
  padding: 0;
  color: #363636;
  font-weight: bold;
}

#post .post-copyright .post-copyright__notice .post-copyright-info a {
  padding: 0 4px;
}

#post .post-copyright .post-copyright-info a:hover {
  color: #fc823b;
}

#post .post-copyright .post-copyright-info {
  padding-left: 0;
  color: #020202;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#post .post-copyright .post-copyright-title {
  padding-left: 0;
  color: #ffffff;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1rem;
  font-weight: bold;
}

#post .post-copyright .post-copyright-title:hover {
  color: #fc823b;
}

#post>div.post-copyright>div.post-copyright__author>span>span {
  padding: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.38;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 768px) {
  #post>div.post-copyright>div.post-copyright__author>span>span {
    -webkit-line-clamp: 3;
  }

  #post .post-copyright .post-copyright-info {
    -webkit-line-clamp: 2;
  }

  #post .post-copyright .post-copyright-title {
    -webkit-line-clamp: 3;
    line-height: 1.2;
  }
}

/* 链接 */
#post>div.post-copyright>div.post-copyright__type {
  color: white !important;
  line-height: 16px;
  display: flex;
  margin-top: 8px;
}

#post>div.post-copyright>div.post-copyright__type>span>a {
  font-size: 14px;
  opacity: 0.6;
  line-height: 16px;
}

#post>div.post-copyright>div.post-copyright__type>span>a:hover {
  opacity: 1;
  background: none;
}

#post-copyright-url a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/* 提示 */
#post>div.post-copyright>div.post-copyright__notice {
  font-size: 0.7rem;
  line-height: 1rem;
  margin: 0.5rem 0;
}
/*装饰圈*/
#post .post-copyright:before {
  display: none;
}

#post .post-copyright .post-copyright-meta {
    color: #fc823b;
    font-weight: bold;
}
#post .post-copyright {
    padding: 2rem 1.3rem;
    border-radius: 11px;
    border-style: solid;
}

/*右下角按钮*/
#rightside > div > button, #rightside > div > a {
  display: block;
  margin-bottom: 6px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: #f1f1f1;
  color: #2d587a;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}

/* #post-info #post-meta {
  color: #ffffff;
  margin-top: 0.4rem;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
#post-info #post-meta a {
  color: var(--light-grey);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#post-meta .post-meta__tags {
  display: inline-block;
  background: #ffffff33;
  margin: 0px 8px 0px 0px;
  padding: 2px 20px;
  width: fit-content;
  border-radius: 7px;
  color: #49b1f5;
  font-size: 1em;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a {
  color: #99a9bf;
  text-decoration: none;
  word-wrap: break-word;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  overflow-wrap: break-word;
}
a {
  background-color: transparent;
}
#post-info .post-title {
  margin-bottom: 8px;
  font-weight: 700;
  color: var(--white);
  font-size: 3.5em;
  margin: 1rem 0 1rem 0 !important;
  text-align: left;
  line-height: 1.5;
  padding: 0;
  -webkit-line-clamp: 3;
}
#post-info #post-meta {
  color: #bc3f3f;
  margin-top: 0.4rem;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
} */
#page-header #post-info {
  position: absolute;
  top: 0;
  padding: 0 12%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 3;
}

.post-bg:has(.bili-banner) #post-info, .post-bg:has(.bldbanner) #post-info, .post-bg:has(.blqbanner) #post-info {
  pointer-events: none;
}

/*文章顶图*/
#page-header.post-bg {
  height: 34rem;
  transition: 0s;
  background-color: transparent;
  overflow: hidden;
  background-color: white;
}

#page-header.post-bg {
  height: 400px;
}
#page-header {
  position: relative;
  width: 100%;
}



/*hometop*/
#home_top {
  max-width: 1400px;
  margin: auto;
  margin-top: 2.5rem;
  padding: 0 1.5rem;
  width: 100%
}

@media screen and (max-width: 768px) {
  #home_top {
    padding: 0;
    margin-top: 0
  }
}

.recent-top-post-group {
  border-radius: 12px;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
  margin-bottom: 0
}

.recent-post-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: scroll
}

.recent-post-top::-webkit-scrollbar {
  display: none
}

.recent-post-top .recent-post-item {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: .5rem;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  min-width: 200px;
  height: 164px;
  max-height: 164px;
  border: 1px solid #e3e8f7;
  transition: .3s;
  position: relative;
  box-shadow: 0 8px 16px -4px #2c2d300c
}

@media screen and (max-width: 768px) {
  .recent-post-top .recent-post-item {
    border-radius: 8px;
    box-shadow: none;
    clip-path: inset(0 0 0 0 round 8px)
  }

  .recent-post-top .recent-post-item:last-child {
    margin-right: 1rem
  }
}

@media screen and (min-width: 1300px) {
  .recent-post-top .recent-post-item {
    margin-right: 0;
    margin-bottom: .5rem
  }

  .recent-post-top .recent-post-item:active {
    transform: scale(.97)
  }

  .recent-post-top {
    overflow-x: visible
  }

  .recent-top-post-group {
    overflow: visible;
    overflow-x: visible
  }
}

span.recent-post-top-text {
  position: absolute;
  top: 0;
  left: -40px;
  display: flex;
  z-index: 1;
  background: #fc823b;
  color: #fff;
  padding: 2px 8px;
  font-size: .6rem;
  border-radius: 12px 0 12px 0;
  transition: .3s;
  cursor: pointer
}

.recent-post-item:hover .recent-post-top-text {
  left: 0
}

@media screen and (min-width: 1300px) {
  .recent-post-top .recent-post-item:hover {
    border: 1px solid #fc823b;
    box-shadow:  0 8px 12px -3px #4259ef23;
    transform: scale(1.03)
  }

  .recent-post-top .recent-post-item:active {
    transform: scale(.97)
  }
}

@media screen and (max-width: 768px) {
  .recent-top-post-group {
    border-radius: 0;
    background: #f7f9fe
  }

  .recent-post-top-text {
    display: none !important
  }

  .recent-post-top .recent-post-item .post_cover img {
    border-radius: 8px 8px 0 0 !important
  }
}

.recent-post-top .recent-post-item .post_cover a {
  height: 100px;
  width: 200px;
  overflow: hidden;
  display: flex
}

.recent-post-top .recent-post-item .post_cover img {
  object-fit: cover;
  width: 100%;
  background: #f1f3f8;
  border-radius: 12px 12px 0 0
}

.recent-post-top .recent-post-item:hover .post_cover img {
  transform: scale(1);
}

.recent-post-top .recent-post-item .recent-post-info {
  padding: .3rem .5rem .3rem .5rem !important;
  transition: .3s
}

.recent-post-top .recent-post-item:hover .recent-post-info a {
  color: #363636
}

@media screen and (max-width: 1300px) {
  .recent-post-top .recent-post-item:hover .recent-post-info a {
    color: #fc823b;
    transition: .3s
  }
}

.recent-post-top .recent-post-item .recent-post-info .article-title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  padding-top: .5rem;
  font-weight: 700;
  font-size: .8rem !important;
  padding: 0 !important
}

.categoryItem {
  overflow: hidden;
  transform: scale(1);
  transition: all 0.8s cubic-bezier(0.65, 0.15, 0.37, 1.19);
  height: 48%;
  border-radius: 12px;
}

a.categoryButton {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  display: inline-block;
  text-align: left;
  line-height: 4em;
  font-weight: bold;
  font-size: 0.9rem;
  color: #fff;
  transition: all 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: scale(1);
  overflow: hidden;
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei;
}

a.categoryButton i {
  transform: scale(1.0) rotate(15deg);
}

@media screen and (min-width: 1300px) {
  a.categoryButton:active {
    transform: scale(0.97);
  }
}

@media screen and (max-width: 768px) {
  a.categoryButton {
    border-radius: 8px;
  }

  .categoryItem {
    border-radius: 0px;
    height: 47%;
    box-shadow: none !important;
  }
}

a.categoryButton:after {
  top: 50px;
  width: 1rem;
  left: 21px;
  height: 2px;
  background: #fff;
  content: "";
  border-radius: 1px;
  position: absolute;
}

.categoryButtonText {
  padding-left: 21px;
}

a.categoryButton i {
  font-size: 5rem;
  opacity: 0.2;
  position: absolute;
  right: 0%;
  top: 20%;
  transition: 0.3s;
  width: 100px;
  text-align: center;
  filter: blur(2px);
}
/**/
@media screen and (min-width: 1300px) {
  .categoryItem:hover i {
      transform:scale(1.03) rotate(0)
  }
}

.cate-button-text {
  box-shadow: var(--bywind-shadow-black)
}

.recent-post-top .categoryGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px
}

.categoryGroup .categoryItem:nth-child(3) {
  display: none
}

@media screen and (min-width: 1300px) {
  .recent-post-top .categoryGroup {
      flex-direction:row;
      height: 24%
  }

  .categoryItem {
      width: calc(100% / 3 - .33rem);
      height: 100%;
      margin-right: .5rem
  }

  .categoryItem:last-child {
      margin-right: 0
  }

  .categoryItem:hover {
      width: 50%
  }

  .categoryGroup .categoryItem:nth-child(3) {
      display: flex
  }
}
/**/

@media screen and (max-width: 768px) {
  a.categoryButton i {
    display: none;
  }

  .recent-post-top .categoryGroup {
    display: flex !important;
    min-width: 130px !important;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    max-height: 164px;
    overflow: hidden;
    position: relative;
  }
}

.topGroup {
  display: flex !important;
}

/* #bannerGroup {
  display: flex ;
} */

div#banners {
  display: none;
}

@media screen and (min-width: 1300px) {
  /* .topGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: calc(328px + 0.5rem);
    align-content: space-between;
    width: calc(600px + 1.5rem);
    position: relative;
  } */

  div#bannerGroup {
    width: calc(100% - 600px - 2rem);
    margin-right: 0.5rem;
    height: calc(328px + 0.5rem);
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
  }

  div#banners {
    display: flex;
    width: 100%;
    height: 76%;
    background: #fff;
    margin-bottom: 0.5rem;
    border: 0px solid #e3e8f7;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 16px -4px #2c2d300c;
    flex-direction: column;
    overflow: hidden;
    transition: 0.3s;
    clip-path: inset(0 0 0 0 round 12px);
  }

  div#banners:hover {
    box-shadow:  0 8px 12px -3px #4259ef23;
  }

  #banners.flink {
    margin-bottom: 0.5rem;
  }

  #banners .banner-button-group {
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: flex;
  }

  #banners .banner-button {
    padding: 8px 12px;
    background: #363636;
    border-radius: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    z-index: 1;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, .05);
  }

  #banners .banner-button.secondary {
    background: #f1f3f8;
    border: 1px solid #e3e8f7;
    color: #fc823b;
    margin-right: 1rem;
    box-shadow: 0 8px 16px -4px #2c2d300c;
  }

  #banners .banner-button:hover {
    background: #fc823b;
    color: #fff;
  }

  #banners .banner-button i {
    margin-right: 8px;
    font-size: 1rem;
  }

  .banners-title {
    top: 2rem;
    left: 1.5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .flink .banners-title {
    top: 1.5rem;
  }

  .banners-title-big {
    font-size: 36px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .banners-title-small {
    font-size: 12px;
    line-height: 1;
    color: rgba(60, 60, 67, 0.6);
    margin-top: 8px;
    margin-bottom: 0.5rem;
  }

  #banner-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fc823b;
    color: #fff;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: cubic-bezier(0.71, 0.15, 0.16, 1.15) 0.6s;
  }

  .bannerText {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: bold;
  }

  .banner-righticon {
    font-size: 4rem;
    opacity: 0.6;
  }

  #banners:hover #banner-hover {
    opacity: 1;
    padding-left: 2rem;
    background: #fc823b;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transition: 0.3s;
    background-size: 200%;
    cursor: pointer;
  }
}

a.categoryButton {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  display: inline-block;
  text-align: left;
  line-height: 4em;
  font-weight: 700;
  font-size: .9rem;
  color: #fff;
  transition: all .8s cubic-bezier(.39,.575,.565,1);
  transform: scale(1);
  overflow: hidden
}

a.categoryButton i {
  transform: scale(1) rotate(15deg)
}

@media screen and (min-width: 1300px) {
  a.categoryButton:active {
      transform:scale(.97)
  }
}

@media screen and (max-width: 768px) {
  a.categoryButton {
      border-radius:8px
  }

  .categoryItem {
      border-radius: 0;
      height: 47%;
      box-shadow: none!important
  }
}

a.categoryButton:after {
  top: 50px;
  width: 1rem;
  left: 21px;
  height: 2px;
  background: #fff;
  content: "";
  border-radius: 1px;
  position: absolute
}

.categoryButtonText {
  padding-left: 21px
}

a.categoryButton i {
  font-size: 5rem;
  opacity: .2;
  position: absolute;
  right: 0;
  top: 20%;
  transition: .3s;
  width: 100px;
  text-align: center;
  filter: blur(2px)
}

@media screen and (max-width: 768px) {
  a.categoryButton i {
      display:none
  }

  .recent-post-top .categoryGroup {
      min-width: 130px!important;
      margin-bottom: .5rem;
      margin-left: 1rem;
      max-height: 164px;
      overflow: hidden;
      position: relative
  }
}

.topGroup {
  display: flex
}

#bannerGroup {
  display: flex;
}

div#banners {
  display: none
}

.topGroup .todayCard {
  display: none
}

@media screen and (min-width: 1300px) {
  .topGroup {
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      height: calc(328px + .5rem);
      align-content: space-between;
      width: calc(600px + 1.5rem);
      position: relative
  }

  div#bannerGroup {
      width: calc(100% - 600px - 2rem);
      margin-right: .5rem;
      height: calc(328px + .5rem);
      display: flex;
      flex-direction: column;
      justify-content: space-between
  }

  div#banners {
      display: flex;
      width: 100%;
      height: 76%;
      background: #fff;
      margin-bottom: .5rem;
      border: 1px solid #e3e8f7;
      border-radius: 12px;
      overflow: hidden;
      position: relative;
      box-shadow: var(--bywind-shadow-border);
      flex-direction: column;
      overflow: hidden;
      transition: .3s;
      clip-path: inset(0 0 0 0 round 12px)
  }

  div#banners:hover {
      box-shadow: var(--bywind-shadow-main)
  }

  #banners.flink {
      margin-bottom: .5rem
  }

  #banners .banner-button-group {
      position: absolute;
      right: 2rem;
      top: 2rem;
      display: flex
  }

  #banners .banner-button {
      padding: 8px 12px;
      background: #4c4948;
      border-radius: 12px;
      color: #fff;
      display: flex;
      align-items: center;
      z-index: 1;
      transition: .3s;
      cursor: pointer;
      box-shadow: #f1f3f8
  }

  #banners .banner-button.secondary {
      background: var(--bywind-secondbg);
      border: var(--style-border-always);
      color: var(--bywind-lighttext);
      margin-right: 1rem;
      box-shadow: var(--bywind-shadow-border)
  }

  #banners .banner-button:hover {
      background: var(--bywind-theme);
      color: #fff
  }

  #banners .banner-button i {
      margin-right: 8px;
      font-size: 1rem
  }

  .banners-title {
      top: 2rem;
      left: 1.5rem;
      position: absolute;
      display: flex;
      flex-direction: column
  }

  .flink .banners-title {
      top: 1.5rem
  }

  .banners-title-big {
      font-size: 36px;
      line-height: 1;
      font-weight: 700;
      margin-bottom: 8px
  }

  .banners-title-small {
      font-size: 12px;
      line-height: 1;
      color: var(--bywind-secondtext);
      margin-top: 8px;
      margin-bottom: .5rem
  }

  #banner-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: var(--bywind-theme);
      color: #fff;
      padding-left: .5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
      transition: cubic-bezier(.71,.15,.16,1.15) .6s
  }

  .bannerText {
      font-size: 4rem;
      line-height: 4rem;
      font-weight: 700
  }

  .banner-righticon {
      font-size: 4rem;
      opacity: .6
  }

  #banners:hover #banner-hover {
      opacity: 1;
      padding-left: 2rem;
      background: #4259efc9;
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      -webkit-backface-visibility: hidden;
      -webkit-transform-style: preserve-3d;
      transition: .3s;
      background-size: 200%;
      cursor: pointer
  }

  .topGroup .todayCard {
      position: absolute;
      width: calc(600px + 1rem);
      height: 100%;
      z-index: 1;
      top: 0;
      left: 0;
      background: var(--card-bg);
      border-radius: 12px;
      margin-left: .5rem;
      overflow: hidden;
      transition: .3s;
      display: flex;
      cursor: pointer;
      pointer-events: all
  }

  .topGroup .todayCard::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0
  }

  .topGroup .todayCard.hide {
      opacity: 0;
      pointer-events: none
  }

  .topGroup .todayCard .todayCard-info {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      z-index: 2;
      color: #fff;
      max-width: 60%;
      transition: .3s
  }

  .topGroup .todayCard.hide .todayCard-info {
      bottom: 1rem;
      opacity: 0
  }

  .topGroup .todayCard .todayCard-info .todayCard-tips {
      opacity: .8;
      font-size: .6rem
  }

  .topGroup .todayCard .todayCard-info .todayCard-title {
      font-size: 28px;
      font-weight: 700;
      line-height: 36px
  }

  .topGroup .banner-button-group {
      position: absolute;
      right: 2rem;
      bottom: 2rem;
      display: flex;
      transition: .3s
  }

  .topGroup .todayCard.hide .banner-button-group {
      bottom: 1rem
  }

  .topGroup .banner-button {
      background: var(--bywind-white-op);
      border-radius: 20px;
      color: #fff;
      display: flex;
      align-items: center;
      z-index: 1;
      transition: .3s;
      cursor: pointer;
      backdrop-filter: saturate(180%) blur(20px);
      -webkit-backdrop-filter: blur(20px);
      height: 40px;
      width: 124px;
      justify-content: center
  }

  .topGroup .banner-button:hover {
      background: var(--bywind-theme);
      color: #fff
  }

  .topGroup .banner-button i {
      margin-right: 8px;
      font-size: 1rem
  }

  .topGroup .todayCard .todayCard-cover {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      top: 0;
      left: 0;
      background-size: cover;
      z-index: -1;
      transition: .3s
  }

  .topGroup .todayCard.hide .todayCard-cover {
      transform: scale(1.2)
  }
}

@keyframes rowup {
  from {
      transform: translateX(0)
  }

  to {
      transform: translateX(-50%)
  }
}

.tags-group-icon {
  width: 120px;
  height: 120px;
  border-radius: 30px
}

.tags-group-all {
  display: flex;
  transform: rotate(-30deg);
}

.tags-group-all.nowrapMove {
  transform: rotate(0);
  padding-bottom: 2rem
}

.tags-group-wrapper {
  margin-top: 5rem;
  display: flex;
  flex-wrap: nowrap;
  animation: rowup 60s linear infinite
}

.nowrapMove .tags-group-wrapper {
  margin-top: 7rem;
  animation: rowup 120s linear infinite
}

.tags-group-icon-pair .tags-group-icon:nth-child(even) {
  margin-top: 1rem;
  transform: translate(-60px)
}

.tags-group-icon-pair {
  margin-left: 1rem
}

.tags-group-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 66px;
  font-weight: 700;
  box-shadow: 0 2px 16px -3px rgba(0, 0, 0, .15)
}

.nowrapMove .tags-group-icon {
  border-radius: 50%
}

.tags-group-icon img {
  width: 60%
}

.nowrapMove .tags-group-icon img {
  min-width: 100%;
  min-height: 100%;
  border-radius: 50%;
  object-fit: cover
}

.categoryItem:hover i {
  opacity: .8;
  transition: .8s;
  transition-delay: .15s;
  transform: scale(1.03) rotate(0);
  font-size: 2.5rem;
  filter: blur(0)
}

@media screen and (min-width: 1300px) {
  .categoryItem:hover i {
      transform:scale(1.03) rotate(0)
  }
}

.cate-button-text {
  box-shadow: #f1f3f8
}

.recent-post-top .categoryGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px
}

.categoryGroup .categoryItem:nth-child(3) {
  display: none
}

@media screen and (min-width: 1300px) {
  .recent-post-top .categoryGroup {
      flex-direction:row;
      height: 24%
  }

  .categoryItem {
      width: calc(100% / 3 - .33rem);
      height: 100%;
      margin-right: .5rem;
  }

  .categoryItem:last-child {
      margin-right: 0
  }

  .categoryItem:hover {
      width: 50%
  }

  .categoryGroup .categoryItem:nth-child(3) {
      display: flex
  }
}

a.categoryButton.bikan {
  background: linear-gradient(to right,#358bff,#15c6ff);
  background-size: 200%;
}

a.categoryButton.remen {
  background: linear-gradient(to right,#f65,#ffbf37);
  background-size: 200%
}

a.categoryButton.shiyong {
  background: linear-gradient(to right,#18e7ae,#1eebeb);
  background-size: 200%
}

[data-theme=dark] a.categoryButton.bikan {
  background: linear-gradient(to right,#0653b8,#2fcbff);
  background-size: 200%
}

[data-theme=dark] a.categoryButton.remen {
  background: linear-gradient(to right,#e22a16,#da980c);
  background-size: 200%
}

[data-theme=dark] a.categoryButton.shiyong {
  background: linear-gradient(to right,#099e74,#0ea4a4);
  background-size: 200%
}

a.categoryButton:hover {
  background-position: 100% 0
}
