#nav {
  flex-wrap: nowrap;
  justify-content: space-between;
}

#nav .menus_items .menus_item .menus_item_child {
  padding: 6px 4px 8px 4px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, .05);
  border:  1px solid #e3e8f7;
  transition: 0.3s;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  top: 35px;
}

#nav .menus_items .menus_item .menus_item_child:hover {
  border: 1px solid #425AEF;
  box-shadow:  0 8px 12px -3px #4259ef23;
}

#page-header.nav-fixed>#nav,
#page-header.not-top-img>#nav {
  box-shadow: none;
}

#sidebar #sidebar-menus .menus_items .site-page span:hover {
  color: #363636;
}

.site-page i.fa-chevron-down {
  display: none;
}

.fa,
.fa-brands,
.fas,
.fa-light,
.fa-regular,
.fa-solid,
.fa-thin,
.fab,
.fad,
.fal,
.far,
.fas,
.fat {
  line-height: 1;
}

#nav .menus_items .menus_item .menus_item_child:before {
  top: -10px;
}

/* #menus > div.menus_items > div:nth-child(1) > ul{
  right: -200px!important;
}

#menus > div.menus_items > div:nth-child(2) > ul{
  right: -250px!important;
}

#menus > div.menus_items > div:nth-child(3) > ul{
  right: -140px!important;
}

#menus > div.menus_items > div:nth-child(4) > ul{
  right: -200px!important;
} */

#nav .menus_items .menus_item .menus_item_child li a:hover {
  background: #425AEF !important;
  color: white !important;
  box-shadow:  0 8px 12px -3px #4259ef23;
  margin: 0 auto;
  transform: scale(1) !important;
  padding: 0.3rem 0.7rem;
}

#nav .menus_items .menus_item .menus_item_child li a i:not(.fa-brands) {
  font-size: 1rem;
  margin-right: 8px;
}

#nav .menus_items .menus_item {
  padding: 0 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#nav .menus_items .menus_item .menus_item_child li {
  display: inline-flex;
  list-style: none;
  border-radius: 5px;
  margin: 0 4px;
}

/* 导航栏按钮悬浮 */
#nav a {
  border-radius: 8px;
  color: white;
}

.nav-fixed #nav a {
  color: #363636;
  transition: 0.3s;
}
/* 导航栏禁止隐藏 */
#page-header.nav-fixed #nav {
  top: 0;
  box-shadow: none;
  border-bottom:  1px solid #e3e8f7;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: #f7f9fe;
}

#nav {
  padding: 0px;
}

#page-header #nav {
  box-shadow: none;
  transition: 0s;
  display: flex;
  justify-content: center;
  z-index: 1000 !important;
}

@media screen and (max-width: 768px) {
  #nav {
    padding: 0px;
  }

  #page-header #nav {
    background: linear-gradient(to top, #4259ef01 0%, #425AEF 100%);
  }
}

#page-header #nav #nav-group {
  max-width: 1400px;
  width: 100%;
  display: flex;
  position: relative;
  padding: 0 1.5rem;
  align-items: center;
}

#page-header #nav #nav-right {
  position: absolute;
  right: 0;
  z-index: 102;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  margin-right: 1.5rem;
  overflow: hidden;
}

#page-header #nav #nav-left {
  z-index: 102;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  margin-right: 1.5rem;
  overflow: hidden;
}

@media screen and (max-width: 1300px) {
  #page-header #nav #nav-left {
    display: none;
  }
}

.nav-button {
  cursor: pointer;
}

#page-header #nav #nav-right .nav-button a,
#page-header #nav #nav-left .nav-button a {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

#page-header #nav #nav-right .nav-button a i,
#page-header #nav #nav-left .nav-button a i {
  line-height: 1;
}

#page-header #nav #nav-right div,
#page-header #nav #nav-left div {
  margin-left: 0.5rem;
  padding: 0;
}


@media screen and (max-width: 768px) {
  #nav #menus {
    display: none !important;
  }

  #nav.hide-menu #toggle-menu .site-page {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #page-header #nav #nav-group {
    width: 100%;
    display: flex;
    position: relative;
    padding: 0 12px;
  }

  #page-header #nav #nav-right {
    margin-right: 12px;
  }
}

#nav.show {
  transform: translate3d(0px, 0px, 0px) !important;
  top: 0;
  transition: 0.2s;
  position: fixed;
  z-index: 91;
}


#page-header.not-top-img #nav {
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

@media screen and (max-width: 768px) {
  #page-header.not-top-img #nav {
    background: #f7f9fe !important;
  }

  #page-header.not-top-img:not(.nav-fixed) #nav {
    background: #f7f9fe !important;
  }
}

#sidebar #menu-mask {
  z-index: 1001;
}

#page-header.not-top-img:not(.nav-fixed) #nav {
  background: #00000000;
}

#page-header.nav-fixed #nav #menus>div.menus_items {
  transition: 0.3s;
  height: 40px;
  margin: auto 0;
}

#page-header.not-top-img {
  margin-bottom: 0rem;
}

#nav #toggle-menu {
  padding: 0 0.4rem;
}
/* 导航栏文字 */
@media screen and (min-width: 900px) {
  #nav #site-name {
    opacity: 1;
    transition: 0.3s;
    overflow: hidden;
  }

  #nav #site-name i {
    transition: 0.3s;
  }

  #nav #site-name:hover i {
    opacity: 0;
    transition: 0.3s;
  }

  #page-header.nav-fixed #nav #site-name {
    opacity: 1;
    transition: 0.1s;
    border-radius: 40px;
  }

  #page-header.nav-visible #nav #site-name {
    opacity: 1;
    transition: 0.1s;
  }

  #nav #site-name:after {
    background: url(https://img.zhheo.com/i/2022/08/31/630efbc7e1ca6.webp) no-repeat 50% 50%;
    opacity: 0;
    position: absolute;
    display: flex;
    z-index: 1;
    width: 74px;
    height: 58px;
    content: "";
    transition: 0s;
    transition-timing-function: ease-in;
    transform: scale(0.4);
  }

  .post #nav #site-name:hover {
    background:rgba(255, 255, 255, 0.2);
  }

  .nav-fixed #nav #site-name:hover {
    background: #425AEF;
  }

  #nav #site-name:hover:after {
    opacity: 1;
    transform: translateY(0px) scale(0.3);
    transition-timing-function: ease-in;
  }

  #nav .back-home-button:hover {
    box-shadow:  0 8px 12px -3px #4259ef23;
  }

  #nav #page-name-text {
    display: inline;
    font-weight: bold;
    padding: 4px 8px;
    opacity: 0;
    transition: 0.1s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-align: center;
    cursor: pointer;
    top: 0;
    font-size: 0.9rem;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
  }

  #nav #page-name-text:hover {
    color: #425AEF !important;
    background: #00000000;
    box-shadow: none;
  }

  #page-header.nav-fixed #nav #page-name-text {
    display: inline;
    opacity: 1;
    transition: 0.3s;
    line-height: 1;
  }

  #page-header.nav-fixed #nav #page-name-text:hover:after {
    opacity: 1;
    line-height: 36px;
  }

  #page-header.nav-fixed #nav div.menus_items {
    transition: 0.15s;
    position: relative;
    top: -60px;
  }

  #page-header.nav-fixed.nav-visible #nav #page-name-text {
    display: inline;
    transition: 0.15s;
  }

  #page-header.nav-fixed.nav-visible #nav div.menus_items {
    opacity: 1;
    transition: 0.15s;
    position: relative;
    top: 0px;
  }

  #page-name {
    align-items: center;
    display: flex;
    border-radius: 12px;
    height: 40px;
    position: absolute;
    top: 62px;
    left: 0px;
    right: 0px;
    margin: auto;
    justify-content: center;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
  }

  #page-header.nav-fixed #nav #menus {
    z-index: 100;
  }

  #page-header.nav-fixed.nav-visible #nav #menus {
    z-index: 101;
  }

  #page-header.nav-fixed #page-name {
    z-index: 101;
    transition: 0.3s;
    top: 10px;
  }

  #page-header.nav-fixed.nav-visible #page-name {
    z-index: 100;
    top: 62px;
    transition: 0.3s;
  }

  #page-name-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
  }
}

@media screen and (max-width: 899px) {
  #nav #page-name-mask {
    display: none !important;
  }
}
#nav a {
  transition: 0.3s;
}

#nav a:hover {
  color: white !important;
  background:rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.page #nav a:hover {
  color: white !important;
  background: #425AEF;
  transition: 0.3s;
  box-shadow:  0 8px 12px -3px #4259ef23;
}

.nav-fixed #nav a:hover {
  background: #425AEF;
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  .menus_item:hover>a.site-page {
    color: white !important;
    background:rgba(255, 255, 255, 0.2);
    transition: 0.3s;
    box-shadow:  0 8px 12px -3px #4259ef23;
  }

  .page .menus_item:hover>a.site-page {
    color: white !important;
    background: #425AEF;
    transition: 0.3s;
    box-shadow:  0 8px 12px -3px #4259ef23;
  }

  .nav-fixed .menus_item:hover>a.site-page {
    background-color: #425AEF;
  }
}

@media screen and (max-width: 768px) {
  #sidebar #sidebar-menus .menus_items li .site-page:hover {
    background: #425AEF;
    color: white;
  }

  #sidebar #sidebar-menus .menus_items li .site-page span:hover {
    color: white;
  }
}


.nav-fixed #nav #site-name i {
  color: #363636;
  transition: 0.3s;
}

#nav #site-name:hover i {
  color: white;
}/* 导航栏居中 */
#nav #menus {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  height: 60px;
  left: 0;
  margin: 0;
}

#nav .menus_items {
  position: relative;
  width: fit-content;
  text-align: center;
  left: 0px;
  right: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#menus>div.menus_items>div>a {
  letter-spacing: 0.3rem;
  padding-left: 0.7rem;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
  height: 35px;
  line-height: 35px;
  border-radius: 40px;
}

#nav .menus_items .menus_item .menus_item_child li a {
  letter-spacing: 0rem;
  display: flex;
  align-items: center;
  border-radius: 100px;
  padding: 0.3rem 1rem;
  width: 100%;
  color: #363636 !important;
  text-shadow: none !important;
}

#page-header.nav-fixed #nav #menus[style*="padding-right: 300px;"] .menus_items {
  transform: translateX(-150px);
}
/* 导航栏图标阴影 */
#nav .site-page {
  text-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0);
  border-radius: 8px;
}

#nav .site-page {
  color: white;
}

.nav-fixed #nav .site-page {
  color: #363636;
}

.post-bg #nav #site-name {
  color: white;
  transition: 0s;
}

#nav #site-name {
  color: #363636;
  padding: 0;
  transition: 0.3s;
  display: flex;
  height: 35px;
  width: 75px;
  justify-content: center;
  align-items: center;
  text-shadow: none;
  border-radius: 40px;
}
