#album_page
  .author-content.author-content-item.albumPage.single
    .card-content
      .author-content-item-tips 即刻短文
      span.author-content-item-title 咸鱼的日常生活。
      .content-bottom
        .tips 使用 即刻短文静态部署版 构建
      .banner-button-group
        a.banner-button(onclick='pjax.loadUrl("/about/")', data-pjax-state)
          i.fas.fa-arrow-circle-right(style='font-size: 1.5rem')
          span.banner-button-text 关于我



  .album_bigpic.container
      .card-grid
        a.card(href='#')
          .background(style='background-image: url(https://pic.imgdb.cn/item/6376434016f2c2beb1c31dee.jpg)').
            
            
          .bigpic.content
            p.category Category
            h3.heading Card Heading
        a.card(href='#')
          .background(style='background-image: url(https://pic.imgdb.cn/item/63762f5416f2c2beb196fa0d.jpg)').
            
            
          .bigpic.content
            p.category Category
            h3.heading Card Heading
        a.card(href='#')
          .background(style='background-image: url(https://pic.imgdb.cn/item/63762f5416f2c2beb196fa15.jpg)').
            
            
          .bigpic.content
            p.category Category
            h3.heading Card Heading
        a.card(href='#')
          .background(style='background-image: url(https://pic.imgdb.cn/item/63762f5416f2c2beb196fa1d.jpg)')
          .bigpic.content
            p.category Category
            h3.heading Card Heading
        div.

